<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="NekoForWindows.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <startup>

		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/>
	</startup>
 <userSettings>
  <NekoForWindows.Properties.Settings>
   <setting name="CoreVersion" serializeAs="String">
    <value>v1.17.0</value>
   </setting>
   <setting name="ClientVersion" serializeAs="String">
    <value />
   </setting>
   <setting name="ConfigPort" serializeAs="String">
    <value />
   </setting>
   <setting name="ConfigRedir" serializeAs="String">
    <value />
   </setting>
   <setting name="ConfigSocks" serializeAs="String">
    <value />
   </setting>
   <setting name="ConfigMixed" serializeAs="String">
    <value />
   </setting>
   <setting name="ConfigEnhanced" serializeAs="String">
    <value />
   </setting>
   <setting name="ConfigTProxy" serializeAs="String">
    <value />
   </setting>
   <setting name="ConfigSecret" serializeAs="String">
    <value />
   </setting>
   <setting name="ConfigMode" serializeAs="String">
    <value />
   </setting>
   <setting name="ConfigController" serializeAs="String">
    <value />
   </setting>
   <setting name="ConfigSelect" serializeAs="String">
    <value />
   </setting>
   <setting name="FirstRun" serializeAs="String">
    <value>True</value>
   </setting>
  </NekoForWindows.Properties.Settings>
 </userSettings>
</configuration>